---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Max for Live (M4L)">
  <section class="max-w-3xl mx-auto py-12">
    <h1 class="text-4xl font-extrabold mb-4">Max for Live (M4L)</h1>
    <p class="text-lg mb-6">Resources and tips for using Max for Live devices.</p>
    <article class="prose prose-invert">
      <ul>
        <li>
          <a 
            href="https://www.ableton.com/en/packs/#?item_type=max_for_live" 
            target="_blank" 
            rel="noopener"
          >
            Ableton's M4L devices
          </a>
        </li>
        <li>
          <a 
            href="https://maxforlive.com/library" 
            target="_blank" 
            rel="noopener"
          >
            Max for Live Library
          </a>
        </li>
        <li>
          <a
            href="https://help.ableton.com/hc/en-us/articles/360003276080-Max-for-Live-learning-resources"
            target="_blank"
            rel="noopener"
          >
            Max for Live learning resources
          </a>
        </li>
        <li>
          <a
            href="https://maxforlive.com/profile/user/iftah"
            target="_blank"
            rel="noopener"
          >
            Iftah's devices
          </a>
        </li>
        <li>
          <a
            href="https://fors.fm/"
            target="_blank"
            rel="noopener"
          >
            Fors (playful synths & effects)
          </a>
        </li>
        <li>
          <a
            href="https://510k.myshopify.com/collections/sequencers"
            target="_blank"
            rel="noopener"
          >
            510k / AlexKidd (sequencers)
          </a>
        </li>
        <li>
          <a
            href="https://dillonbastan.com/store/index.php"
            target="_blank"
            rel="noopener"
          >
            Dillon Bastan (granular / spectral devices)
          </a>
        </li>
        <li>
          <a
            href="https://elphnt.io/products/ableton-live-packs/?e-filter-99a623b-product_cat=maxforlive/"
            target="_blank"
            rel="noopener"
          >
            Elphnt (utility packs & tape/console tools)
          </a>
        </li>
        <li>
          <a
            href="https://simple-machines.net/"
            target="_blank"
            rel="noopener"
          >
            Simple Machines (creative randomisers & sequencers)
          </a>
        </li>
        <li>
          <a
            href="https://www.novelmusic.org/"
            target="_blank"
            rel="noopener"
          >
            Novel Music (sequencers & clocks)
          </a>
        </li>
        <li>
          <a
            href="https://vi-control.net/community/threads/favourite-maxforlive-plugins.164096/"
            target="_blank"
            rel="noopener"
          >
            Vi‑Control: Favourite MaxforLive plugins thread
          </a>
        </li>
      </ul>
    </article>
  </section>
</MainLayout>
