---
import MainLayout from '../../../layouts/MainLayout.astro';
import MotuSidebar from '../../../components/MotuSidebar.astro';
const title = "MIDI";
---
<MainLayout title={title}>
  <div class="flex gap-8 items-start">
    <div class="w-[250px] flex-shrink-0">
      <MotuSidebar />
    </div>
    <article class="prose max-w-none">
      <h1>{title}</h1>
      <p>Source: <a href="https://motu.com/products/motuaudio/ultralite-mk3/midi.html" target="_blank" rel="noopener">MOTU product page</a></p>
      <p>Built-in MIDI connectivity and routing options let users integrate controllers and external gear with the interface. MIDI I/O is exposed to the host and can be used alongside audio routing in common production setups.</p>
      <figure>
        <img src="/assets/motu/ultralite-mk3/midi.jpg" alt="MIDI" />
        <figcaption>Absolute asset path: C:\\www\\dexgear\\public\\assets\\motu\\ultralite-mk3\\midi.jpg</figcaption>
      </figure>
    </article>
  </div>
</MainLayout>
